@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

Body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 100%, 74%);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-image: url(bg-intro-desktop.png);
}

.container {

    margin: auto;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    padding: 150px;

}

/* LHS - Text Container */
.texts {
    font-size: 16px;
    color: #ffffff;
    width: 400px;
}

/* RHS - Form Contianer */
.form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 92vh;
    padding-top: 30px;
}

/* RHS - Form Contianer - heading  */
.form-container .head {
    background-color: hsl(248, 32%, 49%);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
    padding: 15px 0px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 2px 1px 2px hsla(248, 32%, 49%, 0.26);
    /* margin-top: -40px; */
}

/* RHS - Form Contianer - input-container */
.form-container .form .form-detail {
    background-color: #ffffff;
    height: 520px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 0px 2px #0000003b;
}

/* RHS - Form Contianer - input-box */
.form-container .form .detail-box {
    margin-bottom: 30px;
    position: relative;
}

/* RHS - Form Contianer - input */
.form-container .form .detail-box input {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid #00000017;
    font-size: 16px;
    font-weight: 700;
    padding-left: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

.form-container .form .detail-box.success input {
    border-color: #b9b3b3;

}

.form-container .form .detail-box.error input {
    border-color: hsl(0, 100%, 74%);
}

.form-container .form .detail-box input:hover {
    border: 1px solid #b9b3b3;
}

.form-container .form .detail-box i {
    position: absolute;
    top: 20px;
    right: 10px;
    visibility: hidden;
}

.form-container .form .detail-box.success i.fa-check-circle {
    visibility: visible;
    border: 1px solid #b9b3b3;
    color: #b9b3b3;
}

.form-container .form .detail-box.error i.fa-exclamation-circle {
    visibility: visible;
    color: hsl(0, 100%, 74%);

}

.form-container .form .detail-box small {
    visibility: hidden;
    position: absolute;
    bottom: -10px;
    right: 0;
    font-size: 12px;

}

.form-container .form .detail-box.error small {
    color: hsl(0, 100%, 74%);
    visibility: visible;
}

/* .form-container .form .detail-box input:required:invalid {
    outline: none;
    border: 1px solid hsl(0, 100%, 74%);
    background-image: url(icon-error.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
} */


/*RHS - Submit Button*/

.form .form-detail .button button {
    background-color: hsl(154, 59%, 51%);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
    padding: 15px 0px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 1px 2px rgb(25, 194, 120);
    text-transform: uppercase;
}

/* RHS - Form Contianer - terms and condition */
.form .form-detail .form-TandS {
    width: 100%;
    padding: 20px;
    font-size: small;
    color: rgba(0, 0, 0, 0.384);
}

#TandS {
    color: hsl(0, 100%, 74%);
}

/* Responsive Design */

/* Body */
@media screen and (max-width:1440px) {
    .container {
        padding: 100px;
    }
}

@media screen and (max-width:1280px) {
    
    /* Body */
    .container {
        padding: 50px;
    }
}

@media screen and (max-width:1125px) {
    
    /* Body */
    .container {
        padding: 10px;
    }
}

@media screen and (max-width:1000px) {

    /* Body */
    .container {
        margin-top: 100px;
        flex-wrap: wrap;
        height: 800px;
        justify-content: center;
    }

    /* LHS - Texts */
    .texts {
        text-align: center;
        width: 400px;
    }

    .texts p {

        line-height: 1.5;
    }
}

@media screen and (max-width:527px) {
    
    /* Body */
    body {
        margin: 30px;
    }
}

@media screen and (max-width:450px) {
    
    /* RHS - Form Contianer - input-container */
    .form-container .form .form-detail {
        height: 550px;
    }
}

@media screen and (max-width:408px) {

    /* LHS - Texts */

    .texts {
        width: 300px;
    }

    .texts h1 {
        line-height: 1.2;
        margin-bottom: 20px;
    }

}

@media screen and (max-width:380px) {

    /* Body */
    body {
        background-image: url(bg-intro-mobile.png);
    }

    /* LHS - Texts */
    .texts {
        font-size: 14px;
    }

    /* RHS - Form Container - input-container */

    .form-container .form .form-detail {
        height: 600px;
    }

    .form-container .form .detail-box small {
        font-size: 12px;


}

}

@media screen and (max-width:375px) {
    /* Body */

    body {
        background-image: url(bg-intro-mobile.png);
    }

    .container {
        margin: 20px;
    }

    /* LHS - Texts */
    .texts h1 {
        padding: 20px;
    }

    /* RHS - form container - heading */

    .form-container .head {
        justify-content: center;
        height: 100px;
        align-items: center;
        display: flex;
    }

    .form-container .form .detail-box small {
        bottom: -5px;
        font-size: 11px;
        width: 85%;
}
}


@media screen and (max-width:355px){

    .form-container .form .form-detail {
        height: px;
    }

    .form-container .form .detail-box small {
        bottom: -10px;
        right: 0;
        font-size: 11px;
        width: 100%;
    }

    /* RHS - Form Contianer - input */
.form-container .form .detail-box input {
    height: 50px;
    font-size: 12px;
    margin-bottom:2px;
}

/* RHS - Form Contianer - terms and condition */
.form .form-detail .form-TandS {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    line-height: 1.5;
    font-size: small;
    color: rgba(0, 0, 0, 0.384);
}
}

@media screen and (max-width:345px) {

    /* RHS - Form Contianer - input */
    .form-container .form .detail-box input {
            font-size: 12px;
            margin-bottom: 7px;
        }
    /* RHS - Form Contianer - terms and condition */
    .form .form-detail .form-TandS {
        width: 100%;
        padding: px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.384);
    }
}

@media screen and (max-width:335px) {

    .form-container .form .detail-box small {
        bottom: -20px;
        font-size: 10px;
        width: 150%;
        right: -40px;
    }
    /* RHS - Form Contianer - input */
.form-container .form .detail-box input {
    height: 50px;
    font-size: 12px;
    margin-bottom:-5px;
}

    /* RHS - Form Contianer - input */

    .form-container .form .detail-box input {       
        font-size: 12px;
    }
    /* RHS - Form Contianer - input-container */
    .form-container .form .form-detail {
        height: 600px;
    }

    /* RHS - Form Contianer - terms and condition */
    .form .form-detail .form-TandS {
        font-size: 11px;
    }
}  

@media screen and (max-width:325px) {
    
    .form-container .form .detail-box.error input {
        margin-bottom:10px;;
    }
    
    .form-container .form .detail-box.error small {
        bottom: -8px;
        width: 100%;
        right: 0px;
    }

}

@media screen and (max-width:320px) {
    
    .form-container .form .detail-box.error input {
        margin-bottom:px;
        padding: 10px;
    }
    
    .form-container .form .detail-box input {
        padding: 20px;
    }

    .form-container .form .detail-box.error small {
        bottom: -8px;
        width: 110%;
        right: -10px;
    }

    .form-container .form .detail-box.error small.psmall {
        bottom: -10px;
    }
}

@media screen and (max-width:319px) {
    .form-container .form .detail-box.error small.psmall {
        bottom: -20px;
    }
}

@media screen and (max-width:315px) {
    
    .form-container .form .detail-box.error input {
        margin-bottom:15px;
        padding: 10px;
    }

    .form-container .form .detail-box.error input#email {
        margin-bottom:5px;
        padding: 10px;
    }
    

    .form-container .form .detail-box.error small {
        bottom: -8px;
        width: 100%;
        right: -5px;
    }

}
@media screen and (max-width:305px){
    .form-container .form .detail-box.error input#pass {
        margin-bottom: 8px;
    }
    .form-container .form .detail-box.error small.psmall{
        width: 100%;
    }
}

@media screen and (max-width:300px){
    .form-container .form .detail-box.error input#email {
        margin-bottom: 15px;
    }
}

@media  screen and (max-width:285px){
    .form-container .form .detail-box.error small.psmall{
        width: 100%;
        right: 100px;
    }
}
@media screen and (max-width:295px) {

    .form-container .form .detail-box input {
        height: 40px;
        width: 150%;
        font-size: 10px;
        font-weight: 700;
        margin-left: -20px;
        display: inline-block;
        margin-bottom: px;
    }
   
    .form-container .form .detail-box.error input {
        margin-bottom:8px;
        padding: 20px;
    }

    .form-container .form .detail-box.error input#email {
        margin-bottom:2px;
    }

    .form-container .form .detail-box small {
        bottom: -5px;
        font-size: 11px;
    
    }

    .form-container .form .detail-box.error small {
        bottom: -10px;
        width: 150%;
        right: -30px;
    }

    .form-container .form .detail-box.error small.psmall{
        bottom: -10px;
        width: 150%;
        right: -30px;
    }
    

    /* RHS - Form Contianer - input-container */
    .form-container .form .form-detail {
        height: 650px;
    }
}

@media screen and (max-width:290px) {
    .form-container .form .detail-box input {   
        padding: 20px;
    }

    
    .form-container .form .detail-box.error input {
        margin-bottom:6px;
    }

    .form-container .form .detail-box.error small {
        width: 150%;
        right: -28px;
        font-size: 10px;
    }


}

@media screen and (max-width:285px) {


    .form-container .form .detail-box.error input {
        margin-bottom:3px;
    }
    .form-container .form .detail-box.error small{
        width: 150%;
        bottom: -10px;
        right: -20px;
    }

    .form-container .form .detail-box.error small.esmall{
        right: -28px;
    }

    .form-container .form .detail-box.error small.psmall{
        width: 150%;
        bottom: -5px;
        right: -20px;
    }
}

@media screen and (max-width:279px){
    
    .form-container .form .detail-box.error input {
        margin-bottom:5px;
    }
    
    .form-container .form .detail-box.error input#email {
        margin-bottom:5px;
        right: -10px;
    }

    .form-container .form .detail-box.error input#pass {
        margin-bottom:20px;
    }

    .form-container .form .detail-box.error small.psmall{
        width: 150%;
        bottom: -5px;
        right: -20px;
    }

}

@media screen and (max-width:278px){
    
    .form-container .form .detail-box.error input {
        margin-bottom:20px;
    }
    
    .form-container .form .detail-box.error input#email {
        margin-bottom:5px;
        right: -10px;
    }

    .form-container .form .detail-box.error input#pass {
        margin-bottom:20px;
    }

    .form-container .form .detail-box.error small.psmall{
        width: 150%;
        bottom: -5px;
        right: -20px;
    }
}

@media screen and (max-width:275px) {

    /* RHS - Form Contianer - input-container */
    .form-container .form .form-detail {
        height: 700px;
    }

    .form-container .form .detail-box.error input {
        margin-bottom:15px;
    }
    
    .form-container .form .detail-box.error input#pass {
        margin-bottom:20px;
    }
    
    .form-container .form .detail-box.error input#email {
        margin-bottom:5px;
    }


    .form-container .form .detail-box.error small {
        right: -15px;
        font-size: 10px;
    }
    
    .form-container .form .detail-box.error small.esmall {
        right: -20px;
    }


    .form-container .form .detail-box.error small.psmall {
        right: -15px;
    }
}

@media screen and (max-width:270px) {

    .form-container .form .detail-box.error input#email {
        margin-bottom:5px;
    }

    @media screen and (max-width:267px) {

        .form-container .form .detail-box.error input#email {
            margin-bottom:15px;
        }
    }
    .form-container .form .detail-box.error small {
        right: -15px;
    }

    .form-container .form .detail-box.error small.esmall {
        right: -13px;
    }
}

@media screen and (max-width:255px) {

    .form-container .form .detail-box input {
        height: 40px;
        width: 150%;
        font-size: 10px;
        font-weight: 700;
        margin-left: -20px;
        display: inline-block;
    }

    
    .form-container .form .detail-box.error input {
        border-color: hsl(0, 100%, 74%);
        margin-bottom:15px ;
        padding: 20px;
    }

    .form-container .form .detail-box small {
        bottom: -10px;
        font-size: 5px;
    
    }

    .form-container .form .detail-box.error small {
        color: hsl(0, 100%, 74%);
        visibility: visible;
        width: 150%;
        right: -15px;
        font-size: 10px;
    }
}